<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
* {
  box-sizing: border-box;
}

html {
  background: #fec;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.4;
}

body {
  max-width: 42em;
  margin-inline: auto;
  padding-inline: 1em;
}

h1 { font-size: 175%; text-align: center; border-bottom: 1px solid #0004; padding-block: 0.5em; margin-bottom: 1em; }
h2 { font-size: 150%; border-bottom: 1px solid #0005; }
h2:not(:first-of-type) { margin-top: 2em; }
h3 { font-size: 110%; }
h4 { font-size: 100%; }

a:not(.webring-container *) {
  text-decoration: none;
  box-shadow: inset 0 -1px #0006;
}

li a:first-of-type {
  text-shadow: 0.03em 0;
  letter-spacing: 0.03em;
}

li {
  margin-block: 0.33em;
}

.footer-home-link {
  margin-block: 2em;
  text-align: center;
}

table, td, th {
  text-align: left;
  border: 1px solid #0003;
  background: #fff;
}

td, th {
  padding: 0.1em 0.2em;
}

blockquote {
  color: #333;
  font-style: italic;
}

blockquote :is(em, i) {
  font-style: normal;
}

.centered-text {
  text-align: center;
}

.centered-text ul, li {
  list-style-type: none;
  margin-inline: 0;
  padding-inline: 0;
}

    </style>
	</head>
	<body>
    <div class="home-link">{{home}}</div>
		{{content}}
    <div class="home-link footer-home-link">
      {{home}}
    </div>
	</body>
</html>
